{% extends 'layouts/default.html' %}
{% block body %}
  <h2>Ajouter une référence :</h2>
  <form class="" action="" method="post">
    <input type="text" name="article" placeholder="nom de l'objet.">
    <input type="text" name="ref" placeholder="Référence...">
    <input class="nbInput" type="number" name="quantity" size="3" value="0">
    <input type="submit" name="" value="Ajouter">
  </form>
{% endblock %}
