{% extends 'layouts/default.html' %}
{% block body %}
  <h2>Liste de produit</h2>
  <form class="" action="" method="post">
    <table>
      <thead>
        <tr>
          <th>REF</th>
          <th class="articleCell">Article</th>
          <th>Quantité</th>
        </tr>
      </thead>
      <tbody>
        {% for prod in list %}
        <tr>
          <td>{{ prod.ref }}</td>
          <td>{{ prod.article }}</td>
          <td><input class="nbInput" type="number" size="3" name="quantity" value="{{ prod.quantity }}">
              <input type="hidden" name="id" value="{{ prod.id }}"></td>
          <td><input type="submit" name="" value=" Modifier"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>

{% endblock %}
