<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include 'layouts/shared/_header.html' %}
    {% block body %}{% endblock %}
  </body>
</html>


<style media="screen">

* {
  margin: 0;
}

/*            _header.html            */

header {
  background-color: rgb(49, 49, 49);
  color: white;
  list-style: none;
}

.title {
  display: flex;
  padding: 10px;
}

header h1 {
  padding: 10px;
  border-right: 1px solid white;
  width: 15%;
}

.date {
  font-size: 30px;
  padding: 10px
}

.nav-bar {
  display: flex;
  background-color: rgb(230, 100, 0);
  width: 100%;
  padding: 8px 0;
}

header a {
  color: white;
  text-decoration: none;
  padding: 8px 24px;
  font-size: 20px;
} header a:hover {
  background-color: white;
  color: black;
  opacity: 20%;
}

/*          product-liste.html           */

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.articleCell {
  min-width: 200px;
}

/*            form             */

.nbInput {
  width: 3em;
  text-align: center;
}

</style>
