
    <header>
      <div class="title">
        <h1>Gestion des stocks</h1>
        <div class="date">
          date du jour
        </div>
      </div>
      <div class="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('articleList') }}">Liste</a></li>
        <li><a href="{{ url_for('newArticle')}}">Ajouter référence</a></li>
      </div>
    </header>
